<article class="review">
    <header>
        some header
    </header>
    <p class="description">
        <%= review.description %>
    </p>
    <p class="rating">
        <%= review.rating %>
    </p>
</article>
