<article class="review">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
      <p class="description">
        <%= review.description %>
      </p>
    <p class="rating">
        Rating: <%= review.rating %>
    </p>
  </div>
</div>
</article>
