<article class="review">
    <div class="panel-body">
      <p class="description">
        <%= review.description %>
      </p>
    <p class="rating">
        Review: <%= review.rating %>
    </p>
  </div>
  <div class="panel-footer">Panel footer</div>
</article>
